<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav option-header">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="drdDulich" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Du lịch
        </a>
        <div class="dropdown-menu" aria-labelledby="drdDulich">
          <a class="dropdown-item" href="#">Du lịch trong nước</a>
          <a class="dropdown-item" href="#">Du lịch nước ngoài</a>
          <a class="dropdown-item" href="#">Du lịch tự chọn</a>
          <a class="dropdown-item" href="#">Du học</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Khách sạn</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="drdVanChuyen" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Vận chuyển
        </a>
        <div class="dropdown-menu" aria-labelledby="drdVanChuyen">
          <a class="dropdown-item" href="#">Thuê xe</a>
          <a class="dropdown-item" href="#">Vé máy bay</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="drdTinTuc" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tin tức
        </a>
        <div class="dropdown-menu" aria-labelledby="drdTinTuc">
          <a class="dropdown-item" href="#">Tin tức</a>
          <a class="dropdown-item" href="#">Cẩm nang du lịch</a>
          <a class="dropdown-item" href="#">Kinh nghiệm du lịch</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="drdKhuyenMai" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Khuyễn mại
        </a>
        <div class="dropdown-menu" aria-labelledby="drdKhuyenMai">
          <a class="dropdown-item" href="#">Khuyễn mại Hè 2019</a>
          <a class="dropdown-item" href="#">Mua tour trả chậm 0%</a>
          <a class="dropdown-item" href="#">Khuyễn mại thẻ JCB</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ViettravelPlus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>
  </div>
</nav>