.option-header {
  margin-left: auto;
  margin-right: 0;
}

.nav-link {
  margin-right: 15px;
}

.header {
  background-color: #333;
  height: 50px;
  line-height: 50px;
}

.nav-link {
  color: #fff !important;
}