.header-bot {
    height: 70px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.area-info {
    padding-left: 20px;
    padding-right: 0px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}

.mauchudao {
    color: #fc6600 !important;
}
