<div class="header-bot">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                <a href="/">
                    <img src="../../assets/img/logo.png" alt="Logo" style="vertical-align: middle;"
                        class="img-responsive">
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bot-mg-b">
                <div class="area-info f-right">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                        <div class="f-left">
                            <div style="font-weight: bold; font-size: 18.5px; margin-bottom: 3px;" class="mauchudao">
                                1900 1839</div>
                            <div style="font-size: 12px; color: #000;">cước 1000đ/phút</div>
                        </div>
                        <div class="f-right">
                            <i class="fas fa-angle-down fa-lg" style="padding-top: 8px; padding-left: 8px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>